@import "tailwindcss";

:root {
  --color-primary: #3f3d3d;
  --color-secondary: #fff9e2;
  --color-tertiary: #000000;

  --font-body: 'Inria Serif', serif;
  --font-heading: 'Kyiv*Type Serif', serif;
}

body {
  margin: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}